body {
 	margin:0px;
 	background-color: #DEE0D6;
 	/*color:#69696F;*/
 	color: #000000;
 	font-family: "Century Gothic";
}

img {
    border:0px;
}

span.archiwise{
color:#46464C;/*79797F;
/*color: #56565C;*/
text-decoration: none;
font-size:larger;
}


a:link, a:visited {
color:#8B8A15;
/*color:#69696F;
text-decoration:none;
border-bottom:1px dashed #69696F;*/
}

div#headerLineLogo {
	background-color:#39393D;
	height:76px;
	width:100%;
	margin:0px;
	padding:0px;
	border-bottom: 1px;
	border-bottom-style:solid;
	border-bottom-color:#8A8D8B;
	z-index: 1;
}

div#headerLineMenu {
	background-color:#56565C;
	height:33px;
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
	border-bottom: 1px;
	border-bottom-style:solid;
	border-bottom-color:#FFFFFF;
	z-index: 1;
}

div#wrapper{
z-index: 10;
width: 800px;
left: 50%;

height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */

margin-left: -400px; /* - (width/2)  */
position: absolute;
display: block;
}

div#logodiv{
position: relative;
top: 8px;
margin-left: -36px;
}

div#maincontent{
position: relative;
top:60px;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
width: 798px;
border: solid;
border-width: thin;
border-color: #CECFCD;
background-color: white;
/*color: #69696F;*/
z-index: 5;
}

div.contentdetail{
position: relative;
top:80px;
padding: 15px;
padding-left: 20px;
padding-right: 20px;
width: 798px;
border: solid;
border-width: thin;
border-color: #CECFCD;
background-color: white;

}

div#footer{
	position:relative;
	font-size: small;
	top: 65px;
	width:100%;
	z-index: 6;
	padding-bottom: 8px;
	color: #69696F;
}

div#menu{
position: relative;
top:12px;
margin-right: -14px;
float: right;
}

div#menu > ul{
list-style-type:none;
margin:0;
padding:0;
float: inherit;
}

div#menu  li{
float:left;
}

div#menu a:link, div#menu a:visited
{
font-weight:bold;
text-align:center;
padding:4px;
padding-left:10px;
padding-right:10px;
text-decoration:none;
text-transform:lowercase;
background-color:#56565C;
color: #DEE0D6;
border: none;
}

div#menu a:hover, div#menu a:active
{
/*background-color:#8B8A15;
color: white;
border: none;*/
color:#FCFF00;
/*color:#8B8A15;*/
text-decoration: bold;
}



div.servicedetails {
display:none;
}

table td{
vertical-align: top;
padding-bottom: 20px;
}

table#map td{
padding: 15px;
}

table#founders {
text-align: center;
margin-top: 80px;
margin-left: auto;
margin-right: auto;

}

table#founders td{
width: 300px;
padding-left:10px;
padding-right:10px;
padding-top:0px;
}



span.servicetitle {
font-weight: bold;
font-size: larger;
}

img.serviceicon{
width:60px;
}

img#fancy{
margin-top:20px;
margin-bottom:20px;
float:right;
clear: right; 
}

img.customerlogo{
width:160px;
BORDER:0;
}
