body{
	background-color: #DEE0D6;
 	/*color:#69696F;*/
 	color: #000000;
/* 	font-family: "Century Gothic"; */
}

/* To allow scaling to large screens */
.row {
    max-width: 100%;
    max-height: 100%;
}

/* Header ---------------------- */
header{
	background-color:#39393D;
		border-bottom: 1px;
	border-bottom-style:solid;
	border-bottom-color:#8A8D8B;
}

div.headerbar{
	margin-top:1em;
	padding-left: 1.5em;
	background-color:#39393D;
}

/* Menu ---------------------- */

div.menubar{
	margin-top:0.5em;
	margin-bottom:0.5em; 
	padding:0;
	padding-left:1.5em;
}

div.menubar-xs{
	margin-top:0.5em;
	margin-bottom:0.5em; 
	padding:0;
	margin-left: 2em;
}

span.menubutton {
	font-size: 1.8em;
}

.btn-group-lg > a.btn:hover, .btn-group-lg > a.btn:active, .btn-group-lg > a.btn:focus {
	color:#00000;
	background-color: #56565C;
}

.btn-group-lg > a.btn {
	padding:4px;
	font-size: 16px;
	border-radius: 0px;
	color: #ffffff;
  	background-color: #56565C;	
}

/* Content ---------------------- */

div.contentcontainer{
	padding-left: 1.5em;
}

div.content{
	background-color: #FFFFFF;
	padding:2em;
	border: solid;
	border-width: thin;
	border-color: #CECFCD;
}

img.mugshot {
	width:100%;
	max-width:260px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
	margin-top:2em;
	text-align: center;
}

ul.dr-roles{
	font-size: 80%;
}

a:link, a:visited {
	color:#8B8A15;
}



span.archiwise{
	color:#46464C;/*79797F;
	/*color: #56565C;*/
	text-decoration: none;
	font-size:larger;
}

/* Footer ---------------------- */

footer {
	font-size: 70%;
}



